MYSQL_ROOT_PASSWORD=MyStrongPassword123!
OGAME_AUTO_INSTALL=1
OGAME_MDB_HOST=mysql
OGAME_MDB_USER=root
OGAME_MDB_NAME=master
OGAME_UNI_AUTO_INSTALL=1
OGAME_UNI_URL=localhost:8888
OGAME_STARTPAGE=http://localhost:8888
OGAME_UNI_DB_HOST=mysql
OGAME_UNI_DB_USER=root
OGAME_UNI_DB_NAME=uni
OGAME_UNI_DB_PREFIX=uni1_
OGAME_UNI_DB_SECRET=change-me
OGAME_ADMIN_EMAIL=admin@example.local
OGAME_ADMIN_PASSWORD=admin
